* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  background-image: url(img/bg.png);
  background-size: cover;
  background-position: center;
}

section {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
}

section main {
  padding: 100px 10px;
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

section main img {
  width: 200px;
  aspect-ratio: 1;

  /* untuk kasih efek glow */
  /* border-radius: 50%;
  box-shadow: 0 0 5px 1px burlywood; */
}

section main h2 {
  font-family: "Fugaz One", sans-serif;
  font-style: normal;
  font-size: 2em;
  font-weight: 600;
  color: #fefefe;
  text-shadow: 0px 0px 1px transparent, 0px 2px rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* section main a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1.5px solid #fefefe;
  background-color: rgba(211, 166, 123, 0.65);
  color: #fefefe;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  gap: 20px;
  transition: 0.3s;
} */

section main a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  gap: 20px;
  transition: 0.3s;
}

section main a:nth-child(odd) {
  border: 1.5px solid #fefefe;
  background-color: rgba(1, 67, 151, 0.8);
  color: #fefefe;
}

section main a:nth-child(even) {
  border: 1.5px solid #fefefe;
  background-color: rgb(251, 213, 24, 0.8);
  color: rgb(1, 67, 151, 0.8);
}

section main a:hover:nth-child(odd) {
  background-color: #014397;
  color: #fefefe;
  border: none;
}

section main a:hover:nth-child(even) {
  background-color: #fbd518;
  color: #014397;
  border: none;
}

section main a i {
  font-size: 1.3em;
}

section footer p {
  color: #fefefe;
  font-size: 0.85em;
  text-shadow: 0px 0px 1px transparent, 0px 2px rgba(0, 0, 0, 0.8);
}
